body { 
    padding-top: 70px;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;    
    margin: 2%;
    font-size: 1.50em;
    font-family: 'PT Sans', sans-serif;
}

.sample{font-size: 70px;}

.navbg{
    background-color: orange;
    padding:1%;
}

.navbar-brand{
    font-size: 3.125em;
}

.navbar-nav{
    font-size:1.50em;
}

.glyphicon{
    font-size: 1.375em;
   
}

ul{
  list-style: none;
}

